:root {
  --color-ice-white: #e9f0fb;
  --body-color: var(--color-ice-white);
  --box-shadow: #c7c1c1;
  --sidebar-bg: #202223;
  --primary-color: #7c68ee;
  /* --primary-color: #0074E4; */
  --primary-color-dark: #5b43ea;
  --secondary-grey-color: #b5b0b0;
  --sidebarWidth: 3rem;
  --topBarHeight: 3.2rem;
  --global-font-support: "Gotham Pro", "Proxima Nova", Arial, serif;
  --span-font-size: 13px;
  --span-font-weight: 100;
}
a {
  color: var(--primary-color) !important;
}

span {
  font-size: var(--span-font-size);
}

body {
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  font-family: var(--global-font-support);
}

/* Sidebar */

.sidebar-wrapper {
  width: var(--sidebarWidth);
  background-color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.sidebar-nav {
  position: absolute;
  top: 50;
  margin: 0;
  padding: 0;
  width: var(--sidebarWidth);
  list-style: none;
  margin-top: 4px;
}
.sidebar-nav-bottom {
  position: absolute;
  bottom: 10px;
  margin: 0;
  padding: 0;
  width: var(--sidebarWidth);
  list-style: none;
}

/* .sidebar-nav li {
    line-height: 50px; 
    padding: 2px; 
} */

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li i {
  color: #000000a8;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.menuItem {
  height: 35px;
  width: 33px;
  padding-top: 3px;
  margin-left: 5px;
}
.menuItem:hover {
  background-color: #f2f2f2;
  border-radius: 15%;
  cursor: pointer;
}
.activeMenuItem {
  background-color: var(--primary-color) !important;
  border-radius: 15%;
  color: white !important;
}
.profileIcon {
  background-color: #40bc86 !important;
  border-radius: 50%;
  color: white;
}
.nav-link {
  padding: 0px !important;
  color: #000000a8 !important;
  border: 0px solid transparent !important;
}

.nav-item .activeMenuItem a {
  color: white !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: 0px !important;
}
.nav-link:focus-visible {
  outline: none !important;
}
.nav-tabs {
  border-bottom: 0px !important;
}

.mainContent {
  margin-left: var(--sidebarWidth) !important;
}
.componentHeading {
  font-size: 30px;
  font-weight: 100;
  color: #000000a6;
}

.topButton {
  color: grey;
}
.topButton span {
  font-size: 13px;
  font-stretch: expanded;
  opacity: 75%;
}

.topButton:hover {
  background-color: #e8e5e5;
  color: #7c68ee;
}

.btn:focus {
  box-shadow: none !important;
}

.mainHeadingColumn {
  text-align: start;
  padding-left: 50px;
}
.notificationCardMain {
  background-color: #a2a1a1 !important;
}
.notificationCardFooter {
  background-color: #faecec;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notificationCardFooter .dangerFooter {
  font-size: 13px;
  color: red;
  opacity: 60%;
}

.notificationCardFooter .NotificationTimeDate {
  font-size: 13px;
  color: grey;
  opacity: 75%;
}
.dashboardCardMain {
  max-height: 170px !important;
  height: 180px;
  width: 180px;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 5px;
}
.dashboardCard::-webkit-scrollbar {
  width: 0px !important;
}
.dashboardCard {
  max-height: 160px;
  overflow-y: auto;
}
.dashboardHeading {
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
  vertical-align: middle;
}
.notificationClearButton {
  cursor: pointer;
}

/* Materialistic Ui Icons */
.MuiSvgIcon-colorPrimary {
  color: var(--primary-color) !important;
}
.MuiSvgIcon-colorDisabled {
  color: #cbcbcb !important;
}
.MuiFab-primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.MuiPaper-elevation8 {
  box-shadow: none !important;
}

/* HELP POPUP */
.helpPopUp {
  position: absolute !important;
  bottom: 0 !important;
  margin: 0 !important;
  left: var(--sidebarWidth) !important;
  min-width: 350px;
  max-width: 350px;
  overflow: auto;
}
.helpPopUpHeader {
  background: linear-gradient(
    to right,
    var(--primary-color) 0,
    var(--primary-color-dark) 100%
  );
  width: 100%;
  padding: 30px 30px 80px;
  color: white;
  height: 150px;
}

.helpPopUpCard {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
  margin-top: -50px !important;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: #fff !important;
  padding: 0 15px 20px !important;
  margin-bottom: 20px;
  border-top: 2px solid var(--primary-color);
}
.helpPopUpBottomCard {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: #fff !important;
  border-top: 2px solid var(--primary-color);
  cursor: pointer;
}
.helpPopUpCloseButton {
  font-size: 15px;
  margin-top: 3px;
  opacity: 1;
}
.lightSpan {
  font-size: var(--span-font-size);
  font-weight: var(--span-font-weight);
  color: var(--secondary-grey-color);
}

.helpPopUpScrollBar::-webkit-scrollbar {
  background-color: #f3f0f0;
  width: 16px;
  height: 16px;
}

.helpPopUpScrollBar::-webkit-scrollbar-thumb {
  background-color: hsla(240, 5%, 74%, 0.5);
  border-radius: 16px;
  border: 5px solid #fff;
}

.BorderRadius12 {
  border-radius: 11% !important;
}

.FourColumnIcon svg {
  font-size: 60px !important;
  color: #27272796;
}
.dashboardCardFour {
  max-height: 170px !important;
  height: 150px;
  width: 150px;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 5px;
}

.membersSearchFieldIcon {
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
  color: #94949482;
}

.membersSearchField {
  width: 100%;
  border: 1px solid #cfc2c282 !important;
  height: 30px;
  padding-left: 35px;
  color: var(--secondary-grey-color) !important;
}
.membersSearchField:focus-visible {
  outline-color: #cfc2c2b3 !important;
}

.memberTopBarButton {
  width: 100%;
  height: 30px;
  font-size: 11px;
  background-color: var(--primary-color) !important;
  border: none !important;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
}
.memberTopBarButton:hover {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--body-color) !important;
  color: var(--primary-color);
}

/* Top Bar */
.topBar {
  height: var(--topBarHeight);
  /* background-color: white;
  width: "100%"; */
  border-left: 1px solid #eeeeee;
}

.borderLeft {
  height: 30px;
  margin-right: 2px;
  border-left: 1px solid #eeeeee;
}

/* Typography */
.MainPageHeading-heading {
  font-size: 2.1rem;
  font-weight: 500;
}

.MainPageHeading-subtitle {
  color: #586475;
}

/* Counter Card */
.counterCard .card,
.dashboardMainCard .card {
  border-radius: 0.8rem;
}
.counterCard .card-body {
  padding-top: 0px;
  padding-bottom: 0px !important;
}

.counterCard p {
  font-size: 0.8rem;
}

.dashboardSelect {
  border: 1px solid #d7dae2;
  padding: 5px;
  background-color: white;
  border-radius: 6px;
  font-size: 10px;
  width: 100px;
}

.dashobardLatestMemberTitle {
  color: var(--primary-color-dark);
  font-size: 1rem;
  margin-top: 19px;
  margin-left: 20px;
}

#sidebar-wrapper .nav-link,
.sidebar-nav-bottom {
  margin-left: 6px;
}

.activityCard {
  background-color: white;
  border-radius: 6px;
}

.notificationPill {
  width: 100px;
  background-color: var(--primary-color-dark);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .marginLeft {
    margin-left: 70px;
  }
}

.activityRow {
  font-size: 14px;
}

.button-primary {
  background-color: var(--primary-color-dark);
  color: white;
}
.button-primary:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.button-primary-outlined
{
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
}
.button-primary-outlined:hover{
  background-color: var(--primary-color-dark);
  color: white;
}

.button-secondary-outlined
{
  background-color: transparent;
  border: 1px solid var(--secondary-grey-color);
  color: var(--secondary-grey-color);
}


.centerAlign {
  justify-items: center;
  display: grid;
}

.borderRadius15 {
  border-radius: 13px;
}

.member_profileCard_title 
{
  color: #646d82;
  margin-bottom: 0px;
}
.member_profileCard_subtitle {
  font-size: 13px;
  color: #a6b1c2;
}

.member_profile_footer{
  border-top: 1px solid #DBEDE9;
  padding-top: 10px;
  justify-content: center;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root 
{
  transform: translate(14px, -13px) scale(0.75) !important;
    background-color: white !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}